


html {
    height: 100%;
     /* default font size = 16px */
    font-size: 16px;
}

* {
  /*the width of the box should include padding and a border */
  box-sizing: border-box;  

}

header > h1, header > p {
    display: inline-block;
    padding-top: 25%;
}

header > h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
}

header > p {
    font-size:0.9rem;
    padding-left: 5px;

}


body{
    /* change the default  */
    font-family: 'Raleway', sans-serif;
    /*Gradient background, stretch it */
    background-image:  linear-gradient(to bottom, #858c90, #888 );
    background-repeat: no-repeat;
    background-attachment: fixed;

 
}

div.trello-list {
    /* create a multi- column layout */
    display: inline-block;
    width: 300px;
    background-color: #DDD;
    border-radius: 2px, 3px;
}

div.trello-list h2{
    /* move over from the edge */
    margin: 8px;
    font-size: 1.0rem;
    /* M is the widest letter in a font, so 1em is 1 M size */
    font-weight: bold;
  }

  div.trello-list ol {
    margin : 0;
    padding : 0;
  }

  div.trello-list li {
    /* remove the numbering of the items in the list */
    list-style: none;  
    background-color : rgb(255, 255, 255);
    font-size: .9rem;
    border-radius: 1px;
    margin-bottom : 10px;
    padding : 8px;
  }

  div.trello-list li:hover {
      background-color: #f5f6f7;
      color: #092d42;
}

div.trello-list li:last-child {
    margin-bottom : 0px;
}

div.trello-list a {
    display: block;
    text-decoration: none;
    padding: 8px 0px 8px 5px;
    font-size: .85rem;
}
 
div.trello-list a:hover {
    background-color: rgba(9,45, 66, .1);
}

div.trello-list {
    margin-right: 10px;
    vertical-align: top;
}

body {
    white-space: nowrap;
}

div.trello-list li {
    /*Ensure text in list items don't wrap */
    white-space: normal;
}

.labels span {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 8px;
    border-radius: 3px;
}

.label.pathway {
    background-color: red;
}

.label.individual {
    background-color:green;
}

.label.pair {
    background-color: teal;
}

.label.general {
    background-color: orange;
}

body :: -webkit-scrollbar {
    width: 10px;
}


body :: -webkit-scrollerbar-track {
    background: #888;
}

body :: -webkit-scrollerbar-thumb {
    background: #888;
}

body :: -webkit-scrollerbar-thumb-hover {
    background: #888;
}