body {
    background-color : beige;
    color : white;
}

.pageTitle {
     font-size: 3em;
    color: brown;
	
}
#welcomeMsg {
     font-size: 2em;
    color: maroon;
	
}
#chooser {
	padding-top: 3em;
	color: orange;
}

.copyright {
	width : 800px;
	color : brown;
	padding-top: 4em;
	text-align : left;
}

.parkDiv {
	color: blue;
	border-bottom: 1px solid;
}

.parkDiv li {
	list-style:none;
}

.parkDiv h2 {
	color: black;
}

.parkDiv h5 {
	margin: 0;
}