/* PRODUCT CSS */


body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

 img {
	width: 90%;
} 

#divImage {
	width: 50%;
	justify-content: center;
}

ul {
	list-style-type: none;
}

/* product list css ******************************************* */


#listFlex {
	margin-top : 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}


#listImage img {
	width: 50%;
	display: block;
}

#listItems li {
	text-align: left;
	
}


tr:nth-child(even) {background-color: #f2f2f2;}


/* product tile css ******************************************* */

#mainDiv {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

 #tileDiv {
	width: 30%;
	margin: 0px;
	margin: 10px;
} 


#tilePhoto img {
	width: 100%;
}

#tileStar {
	width: 125px;
}

h4 {
	margin: 5px;
}

#listName {
	text-align: left;
}

p {
	font-size: 12px;
}

/* product detail css ******************************************* */

 #detail-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}


#detail-img-grid{
	width: 45%;
}

#detail-img {
	width: 100%;
}

#detail-info{
	width: 45%; 
	padding-top: 5%;
}

#detail-name{
	margin: 0px;
}





#detail-rating{
	width: 150px;
	padding-bottom: 20px;
}

#detail-weight {
	padding-bottom: 20px;
}



